.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2{
  margin:0;
}
.game_container{
  border: 1px solid black;
  padding: 10px;
}
.game_title{
  text-transform:uppercase;
}
.title_win{
  color: green;
}
.title_lose{
  color: red;
}
.game_button{
  margin-top: 5px;
  margin-bottom: 5px;
}
.game_blocks{
  border: 1px solid black;
  width: 50vh;
  height: 50vh;
}
